# ignore Scopus Data since this is too big.
Visualization/scopus_data/

# ignore env for running streamlit
Visualization/streamlit/venv/

.DS_Store

Airflow/logs/*
Airflow/dags/__pycache__/*
Airflow/dags/.ipynb_checkpoints/*
